

.container {
  background-color: lightblue;
  padding: 40px
}

.racer_table {
  color: white;
}

.racer_table td {
  background-color: lightgrey;
  margin: 2px;
  border-radius: 5px;
  height: 20px;
  width: 20px;
}

.racer_table td.active {
  background-color: black;
}

